<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <p style="text-align:center;">{{ site.title }}</p>
        </a>
      </h1>
      <p class="lead" style="text-align:center;">{{ site.description }}</p>
      <img alt="photo" src="{{site.baseurl}}public/img/photo.jpg" width ="20%"/>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}" style="text-align:center;">
          Home
      </a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" style="text-align:center;">
                 {{ node.title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}" style="text-align:center;">
           GitHub
      </a>

      <p></p>
      <div id="media-logos">

      <ul>

        {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
        {% endif %}

        {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
        {% endif %}

        {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
        {% endif %}

      </ul>

      </div>

    </nav>

    <p style="text-align:center;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
